<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        .sam {
            color: red;
            font-size: 24px; /* You can adjust the font size as needed */
        }

        .body-message {
            color: red;
            font-size: 18px; /* You can adjust the font size as needed */
        }
    </style>
</head>

<body>
    <h1 class="sam">Error</h1>
    <p class="body-message">{{ message }}</p>
    <a href="/">Login</a>
</body>

</html>
