<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movies Results</title>
    <style>
        /* Your existing styles here */
    </style>
</head>

<body>
    <h1>Movies Results</h1>

    <!-- Form to search by title -->
    <form action="/api/movies/details" method="GET">
    <label for="id">Please enter ID:</label>
    <input type="text" id="id" name="id" value="{{id}}">
    <input type="submit" value="Search">
</form>


    <hr>
</body>

</html>
