<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>

<body>
    <h1>Movie Successfully Added</h1>
    <p>The movie {{ newMovie.title }} has been added successfully!</p>
    <pre>{{jsonPrettyPrint newMovie}}</pre>
    <a href="/api/movies/new">Add Another Movie</a>
</body>

</html>
