<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='../../public/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1>Eswar Kumar Kota</h1>
    <h2>N01538388</h2>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>keswar466@gmail.com</p>
  </footer>
</body>

</html>
